!*.xml
.metadata
Servers
jspPro/.settings
jspPro/build
jspPro/.classpath
jspPro/.project
jspPro/.tern-project
jspPro/src/main/webapp/META-INF/MANIFEST.MF
jspPro/src/main/webapp/WEB-INF/lib
jspPro/src/main/webapp/practice
jspPro/src/main/webapp/days15/ex01.jsp
